.multirefine-filter-img-box-list {
    position: relative;
    padding-top: 20%;
}

.multirefine-filter-img-box-grid {
    position: relative;
    padding-top: 100%;
}

.multirefine-filter-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.category-list-items {
    max-width: 150px;
}

.reset-filter-btn {
    border: none;
    background: none;
}